<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>校园网 远程下线</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #b1b1b1;
            background-repeat: repeat-x;
            background-attachment: fixed;
            padding: 0;
            margin: 0;
        }
        .container{
            margin-top: 10%
        }
    </style>
    <script type="text/javascript">
        var num = 5;
        function redirect(){
            num--;
            document.getElementById("num").innerHTML = num;
            if(num<0){
                document.getElementById("num").innerHTML = 0;
                location.href='./logout.html';
            }
        }
        setInterval("redirect()", 1000);
    </script>
</head>

<body>
    <div class="container">
        <h1 class="text-center">REMOTE LOGOUT SUCCESS!</h1>
        <h3 class="text-center"><span id="num">5</span>秒后自动跳转到主页</h3>


    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="./js/jquery.min.js"></script> -->
<!-- <script src="./js/bootstrap.min.js"></script> -->

</html>